<p>Cocktails#new</p>
<p>Find me in app/views/cocktails/new.html.erb</p>
<h2>Create a new Cocktail:</h2>
<%= simple_form_for [@cocktail] do |f| %>
<%= f.input :name %>
<%= f.submit "Create new Cocktail", class: "btn btn-primary" %>
<% end %>
